* {
	margin: 0; 
	padding: 0;
	border: 0;	
	font-weight: normal;	
	list-style:none;		
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	font-size: 20px;	
}
@media (min-width: 3000px){
  html {
		font-size: 30px;
	}
}
@media (min-width: 5000px){
  html {
		font-size: 40px;
	}
}
/*----------------------------------*\
	# var                     
\*----------------------------------*/
:root { 
	--main: #F51;	
	--mate: linear-gradient(to top, #e3e3e3, #fbfbfb);
	--match: #e3e3e3;
	
	--bg: #f9f9f9;
	--scrollbar: -webkit-linear-gradient(top,#000 9%, #666 63%, #999 100%);		
	--scrollbar-track: linear-gradient(90deg, #BBB, #F3F2F1 1px, #CCC 0, #FFF);
	--border: #c9c9c9;	
	--input: #fcfbf9;
	
	--font: #2b2b2b;
	--strong: #2b2b2b;
	--deepgray: #677479;
	--gray: #c0c4c6;
	--weak: #fcfbf9;

	--btn-h: 2.6rem;
	--full-h: calc(var(--vh, 1vh) * 100); /*100vh*/
				
	--tx-sd: -1px 0 1px rgba(0,0,0,.41);
	--box-sd: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
	
	--en: 'Poiret One', cursive;
	--enSlogan:'Great Vibes', cursive;
	--dateNum:'Cinzel Decorative', sans-serif;

	--gap:  calc(0.26rem + 0.25vw) ; 
  --gap-1: calc(0.52rem + 0.5vw) ;  
  --gap_1: calc(0.78rem + 0.75vw); 
  --gap-2: calc(1.04rem + 1vw)   ;   
  --gap_2: calc(1.2rem + 1.25vw) ; 
  --gap-3: calc(1.56rem + 1.5vw) ; 
  --gap_3: calc(1.82rem + 1.75vw); 
  --gap-4: calc(2.08rem + 2vw)   ; 
  --gap_4: calc(2.34rem + 2.25vw); 
  --gap-5: calc(2.6rem + 2.5vw)  ; 
  --gap_5: calc(2.86rem + 2.75vw); 
  --gap-6: calc(3.12rem + 3vw)   ; 
  --gap_6: calc(3.38rem + 3.25vw); 
  --gap-7: calc(3.64rem + 3.5vw) ;  
  --gap_7: calc(3.9rem + 3.75vw) ;     
  --gap-8: calc(4.16rem + 4vw)   ;  
  --gap_8: calc(4.42rem + 4.25vw); 
  --gap-9: calc(4.68rem + 4.5vw) ; 
  --gap_9: calc(4.94rem + 4.75vw);  
  --gap-10: calc(5.2rem + 5vw)   ;   
 
  --slogan: calc(2.02rem + .5vw);
  --title: calc(1.32rem + .1875vw); 
	--topic: calc(1.7rem + .1875vw); 
	--keyword: calc(.86rem + .25vw); 
	--big: calc(.76rem + .25vw); 
	--small: calc(.72rem + .1875vw); 
	--tiny: calc(.68rem + .125vw); 
	
	--p: calc(.72rem + .1875vw);	
	--line-h:  calc(var(--p) * 1.5); 
	--line-2h: calc(var(--p) * 3);
	--line-3h: calc(var(--p) * 4.5);	
	--line-4h: calc(var(--p) * 6); 
	--line-5h: calc(var(--p) * 7.5);
}
@media (max-width: 1199px){
	:root {
		--header-h: 50px;
		--footer-h: 120px;		
		--tx-sd: -0.6px 0 0.6px rgba(0,0,0,.34);
		--box-sd: 0 0.6px 1.2px 0 rgba(0, 0, 0, 0.24);
	}
}

/*----------------------------------*\
	# element ( common )                  
\*----------------------------------*/
body {
	position: relative; 
	background: var(--bg);	
	line-height: 1.5;	
	color: var(--font);	
	letter-spacing: normal;	letter-spacing: .05rem;	
	font-family: 'Noto Serif TC', 'Microsoft JhengHei' ,serif;
}
h1,h2 {
	line-height: 1.1;
}
h1 { font-size: calc(2.02rem + .5vw)  } 
h2 { font-size: calc(.86rem + .25vw)  } 
h3 { font-size: calc(.76rem + .25vw)  } 
h4 { font-size: calc(.74rem + .218vw) } 
h5 { font-size: calc(.72rem + .1875vw)} 
 p { font-size: calc(.72rem + .1875vw)} 
h6 { font-size: calc(.68rem + .125vw) } 
 p { font-size: var(--p) }

h1 {
	font-weight: 900;
}
h2 {
	font-weight: 900;
}
h3 {
	font-weight: 500;	
}
p {	
	font-weight: 200;	
}

a,a:visited,a:hover  {
	text-decoration:none; 
	color:inherit;	
}
a:hover {
	text-decoration:none; 
	color:var(--main, #242222);	
}
a:focus {
	outline: none; 
}
hr { border-top:1px solid var(--scrollbar); }

img { 
	width: 100%; 
	display: block; 
}

/*----------------------------------*\
	# element ( form )                    
\*----------------------------------*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="email"],
input[type="tel"],
select,
textarea {   
  border: solid 0.05rem var(--border);
  background: var(--input);
  border-radius: 0;    
  outline: none; 
  width:100%;
  padding: 0 .5rem; 
  height: var(--btn-h); 
  line-height: var(--btn-h); 
  color: var(--main);
  font-size: var(--small);
}
textarea { 
  padding:.3rem .5rem; 
  height: auto; 
  line-height: var(--line-h: 1.68);  
}
button,.btn {
  outline: none; 
  display:block; 
  margin:auto;
  text-align:center;
  width: 9rem;
  max-width: 100%;
  height:  var(--btn-h); 
  line-height:  var(--btn-h);
  background: var(--match);  
  color: var(--weak);
  transition: 500ms ease-in-out;
  cursor: pointer; 
}
button:hover, 
.btn:hover {
  background: var(--main);
}

/*----------------------------------*\
	# scrollbar                     
\*----------------------------------*/
.scrollbar::-webkit-scrollbar {
  width: .9rem;
}
.scrollbar::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}
.scrollbar::-webkit-scrollbar-thumb {  
  background-image: var(--scrollbar);
  border-radius: 2.4rem; 	
}

/*----------------------------------*\
	# tx limit                     
\*----------------------------------*/
.tx1 {
	white-space: nowrap;  
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx2 {
	display: -webkit-box;
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx3 { 
	display: -webkit-box;
	-webkit-line-clamp: 3; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx4 { 
	display: -webkit-box;
	-webkit-line-clamp: 4; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx5 { 
	display: -webkit-box;
	-webkit-line-clamp: 5; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx6 { 
	display: -webkit-box;
	-webkit-line-clamp: 6; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx7 { 
	display: -webkit-box;
	-webkit-line-clamp: 7; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tx8 { 
	display: -webkit-box;
	-webkit-line-clamp: 8; 
	-webkit-box-orient: vertical;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
/*----------------------------------*\
	# stop                     
\*----------------------------------*/
.stop_mo {
	display: block;
}	
.stop_desk {
	display: none;
}
@media (max-width: 1199px) {	
	.stop_mo {
		display: none;
	}
	.stop_desk {
		display: block;
	}	
}

/*----------------------------------*\
	# wrap                     
\*----------------------------------*/
.main_wrap { 
	width: 5120px; 
	max-width: 100%; 	
	margin: 0 auto;
}
.smooth_wrap {
	overflow-x: hidden;	
	width: 5120px; 
	max-width: 100%; 	
	margin: 0 auto;
}
/*------scroll smoothly*/
.supah-scroll { /*js*/
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%; 
  height: auto;
  will-change: transform;
  overflow: hidden;
}

.wrap-98,.wrap-90,.wrap-80,.wrap-70,.wrap-60,.wrap-50,.wrap-40 { 
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;	
}
.wrap-98 { width: 98%; }
.wrap-90 { width: 90%; }
.wrap-80 { width: 80%; }
.wrap-70 { width: 70%; }
.wrap-60 { width: 60%; }
.wrap-50 { width: 50%; }
.wrap-40 { width: 40%; }
@media (max-width: 1941px){
	.wrap-98 { width: 1880px; }
	.wrap-90 { width: 1728px; }
	.wrap-80 { width: 1530px; }
	.wrap-70 { width: 1344px; }
	.wrap-60 { width: 1150px; }
	.wrap-50 { width: 960px;  }
	.wrap-40 { width: 768px;  }
} 